:root {
  --font-logo: "Bowlby One", sans-serif;
  --font-primary: "Inter", system-ui;
  --color-extralight: #fff;
  --color-light: #cccaca;
  --color-medium: #484848;
  --color-bold: #23252b;
  --color-extrabold: #000;
  --color-highlight: #ffd800;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-extrabold);
  color: var(--color-extralight);
  font-family: var(--font-primary);
}

h1 {
  font-size: 3rem;
}

h1:hover {
  cursor: default;
}

h2 {
  font-size: 2.6rem;
}

h3 {
  font-size: 2.2rem;
}

p,
input,
button,
label,
select,
textarea,
ul {
  font-size: 1.6rem;
}

p {
  line-height: 2.25rem;
}

input {
  background-color: inherit;
  border: 1px solid var(--color-light);
  border-radius: 0.5rem;
  color: var(--color-extralight);
  padding: 1.75rem 4.5rem;
}

button {
  font-weight: 500;
  transition: 0.25s;
}

button:hover {
  cursor: pointer;
}

li {
  font-style: italic;
  list-style: none;
  opacity: 0.5;
} /* edit this later */

a {
  color: var(--color-extrabold); /* delete this later */
  text-decoration: none;
}

hr {
  color: var(--color-bold);
}

::placeholder {
  color: var(--color-light);
}

:focus {
  border: 1.5px solid var(--color-highlight);
  outline: none;
}

.success {
  color: green;
}

.error {
  color: red;
}

/* LOGGED OUT VIEW (LOGIN/REGISTER) */

.logged-out-view-login,
.logged-out-view-register {
  display: grid;
  gap: 8rem;
}

#logged-out-view-login,
#logged-out-view-register {
  display: none;
}

.login-nav,
.register-nav {
  background-color: var(--color-bold);
  padding: 2rem;
  text-align: center;
}

.logo {
  color: var(--color-highlight);
  font-family: var(--font-logo);
  font-size: 2rem;
}

.logo:hover {
  cursor: default;
}

.authentication-container {
  padding: 2rem;
}

.authentication {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 60rem;
}

.login {
  gap: 2rem;
}

.register {
  gap: 1rem;
}

.register-heading {
  margin-bottom: 3rem;
}

.user-error,
.email-success,
.email-error,
.password-success,
.password-error {
  display: flex;
}

.user-auth-message,
.email-auth-message,
.password-auth-message {
  font-size: 1.4rem;
  padding-left: 0.5rem;
}

.login-email-input,
.register-email-input {
  background-image: url("assets/mail.svg");
  background-position: 3.5% 50%;
  background-repeat: no-repeat;
}

.login-password-input,
.register-password-input {
  background-image: url("assets/lock.svg");
  background-position: 3.5% 50%;
  background-repeat: no-repeat;
}

.login-show-password-btn,
.register-show-password-btn {
  align-items: center;
  background-color: inherit;
  border-style: none;
  color: var(--color-light);
  display: flex;
  font-size: 1.4rem;
  font-style: italic;
  opacity: 0.5;
}

.show-password-btn:hover {
  opacity: 0.75;
}

.show-password-icon {
  margin-right: 0.5rem;
}

.login-btn,
.signup-btn {
  background-color: var(--color-highlight);
  border-radius: 0.5rem;
  border-style: none;
  color: var(--color-extrabold);
  padding: 1.125rem;
}

.login-btn:hover,
.signup-btn:hover {
  opacity: 0.5;
}

.signup-btn {
  margin: 1rem 0;
}

.view-register-auth-btn,
.view-login-auth-btn {
  border-style: none;
  background-color: inherit;
  color: var(--color-highlight);
}

.view-register-auth-btn:hover,
.view-login-auth-btn:hover {
  opacity: 0.5;
}

/* LOGGED IN VIEW (SEARCH) */

.logged-in-view {
  display: grid;
  gap: 4rem;
  margin-bottom: 6rem;
}

#logged-in-view {
  display: none;
}

.search-nav {
  align-items: center;
  background-color: var(--color-bold);
  display: flex;
  padding: 2rem;
  justify-content: space-between;
}

.search-logo {
  color: var(--color-highlight);
  font-family: var(--font-logo);
  font-size: 2rem;
}

.search-logo:hover {
  cursor: default;
}

.search-nav-btns {
  align-items: center;
  display: flex;
  gap: 2rem;
}

.view-watchlist-btn,
.logout-btn {
  align-items: center;
  background-color: var(--color-highlight);
  border-radius: 0.5rem;
  border-style: none;
  display: flex;
  padding: 0.25rem;
}

.view-watchlist-btn:hover,
.logout-btn:hover {
  opacity: 0.25;
}

.view-list,
.logout {
  color: var(--color-extrabold);
}

.search-container {
  padding: 2rem;
}

.search {
  margin-bottom: 10rem;
}

.search-heading {
  margin-bottom: 2rem;
  text-align: center;
}

.search-form {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin: auto;
  max-width: 60rem;
}

.search-bar {
  background-image: url("assets/search.svg");
  background-position: 2.125% 50%;
  background-repeat: no-repeat;
}

.search-btn-container {
  margin: auto;
}

.search-btn {
  background-color: var(--color-highlight);
  border-radius: 0.5rem;
  border-style: none;
  color: var(--color-extrabold);
  min-width: 37.5rem;
  max-width: 60rem;
  padding: 1.125rem;
}

.search-btn:hover {
  opacity: 0.5;
}

.search-results {
  display: grid;
  gap: 4rem;
}

.search-message {
  font-style: italic;
  opacity: 0.7;
  text-align: center;
}

.movie {
  display: grid;
  gap: 3rem;
}

.movie-primary {
  margin: auto;
}

.movie-poster {
  width: 25rem;
}

.movie-secondary {
  display: grid;
  gap: 2rem;
}

.search-watchlist-btn {
  background-color: var(--color-highlight);
  border-radius: 0.5rem;
  border-style: none;
  color: var(--color-extrabold);
  padding: 0.75rem;
  width: 15rem;
}

.search-watchlist-btn:hover {
  opacity: 0.5;
}

/* LOGGED IN VIEW (WATCHLIST - MODAL) */

.modal {
  background-color: var(--color-bold);
  border: 1.5px solid var(--color-medium);
  border-radius: 0.5rem;
  bottom: 0;
  display: none;
  height: 95%;
  left: 0;
  margin: auto;
  padding: 2rem;
  position: fixed;
  right: 0;
  top: 0;
  width: 95%;
}

.modal-content {
  height: 100%;
  width: 100%;
}

.modal-header {
  align-items: center;
  border-bottom: 1px solid var(--color-medium);
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
}

.close-modal-btn {
  background-color: inherit;
  border-style: none;
}

.watchlist-container {
  overflow: auto;
  text-align: center;
}

/* MEDIA QUERIES */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .login-nav,
  .search-nav,
  .authentication-container,
  .search-container {
    padding: 2rem 15rem;
  }

  .login-logo {
    font-size: 2.4rem;
  }

  .search-logo {
    font-size: 2.4rem;
  }

  .modal {
    height: 80%;
    width: 75%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .movie {
    display: flex;
    gap: 5rem;
  }

  .movie-primary {
    margin: 0;
  }

  .movie-poster {
    width: 30rem;
  }

  .movie-secondary {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin: auto;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
